/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
		-moz-box-sizing:border-box;
			box-sizing: border-box;
}
.color-link a{
	color: white;
}
.color-link a:hover{
	color: #65ba99;
}
.fancybox{
	position: relative;
	display: block;
}
.fancybox:hover .overlay{
	display: block;
}
.fancybox .overlay{
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(101, 186, 153, 0.5);
	display: none;
}
/*CONTAINER*/
.container {
	width: 960px;
}
.barra{
	padding: 15px;
}
.align-center{
	text-align: center;
}
.align-center ul{
	margin-top: 9px;
}
.social li{
	display: inline-block;
}
.social i{
	margin-left: 5px;
	background: white;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	text-align: center;
	line-height: 32px;
	color: #333;
	font-size: 20px;
}
.social i:hover{
	color: white;
	background: #65ba99;
}
.align-ul{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-bottom: 35px;
}
.align-name{
	float: left;
	position: absolute;
	bottom: -30px
	}

.coluna{
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}


/* STYLE */
.fundo{
	background: no-repeat center center url("Fotos/bg_header.png") fixed;
	background-size: cover;
	max-height: 600px;
}
.fundo-2{
	background: no-repeat center center url("Fotos/bg_testimonial.png") fixed;
	background-size: cover;	
	padding: 100px 0;
}

.fundo-3{
	background: no-repeat center center url("Fotos/bg_footer.png");
	background-size: cover;
	padding: 100px 0;
}

.fundo-cinza{
	background: #252222;
}

.fundo-cinza2{
	background: #cdcdcd;
}

.fundo-cinza3{
	background: #bebebe;
	padding: 50px 0;
}
.fundo-vermelho{
	background: #e2534b;
}

.color{
	color: white;
}

.fonte-vermelha{
	color: #e2534b;
}

.data{
	background-color:#65ba99; 
	color: white;
}


.fundo-verde{
	background: #65ba99;
	padding-bottom: 100px;
}
.galeria .col-md-6{
	padding: 0;
}
.galeria .col-md-3{
	padding: 0;
}
.galeria .col-md-2{
	padding: 0;
}

/* TIPOGRAFIA */
.centro{
	display: inline;
	text-align: center;
	color: white;
	font-size: 70px;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.align, .space{
	display: inline;
}
.space{
	margin-left: 20px;
}
.tam-1{
	padding-top: 20px;
	font-size: 35px;
}
.tam-2{
	font-size: 20px;
}

.space-paragrafo{
	padding-bottom: 15px;
}

.space-top{
	padding-top: 15px;
}

.space-bottom{
	padding-bottom: 30px;
}
/* FONTES */

.bebas{
	font-family: Bebas Neue;
}

.grande{
	font-size: 60px;
	color: white;
	margin: 0 auto;
}

.medio{
	font-size: 35px;
	color: white;
}

.medio1{
	font-size: 25px;
	color: white;
}

.titulo{
	font-size: 40px;
	color:black;
	text-align: center;
}

.tag{
	background-color: #65ba99;
	padding: 4px 11px 3px;
	text-align: center;
	color: white;
	font-size: 15px;
	margin: 2px;
	display: inline-block;

}

.bloco-verde{
	background-color: #65ba99;
	padding: 4px 11px 3px;
	text-align: center;
	color: white;
	font-size: 15px;
	margin: 2px;
	display: inline-block;

}

.borda{
	border-width: 4px;
	border-style: solid;
	border-color: white;
	max-width: 200px;
	text-align: center;

}

.fonte-verde{
	color: #65ba99;
}

.fonte-cinza{
	color: gray;
}

.fonte-branca{
	color: white;
}

/* FUNCIONAL */
.funcional{
	padding: 100px 50px;
}
.display-center{
	display: center;
}
.funcional-2{
	left: 50px;
}

.fotos{
	padding-left: 40px;
	padding-right: 40px;
}
.funcional-3{
	float: left;
	position: relative;
	left: 270px;
	bottom: 0;
}
.div-cabecalho{
	float: left;
	position: relative;
	left: 300px;
}