/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
		-moz-box-sizing:border-box;
			box-sizing: border-box;
}
.color-link a{
	color: white;
}
/*CONTAINER*/
.barra{
	padding: 45px;
	background: #252222;
}
.caixa, .social{
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 0px;
	bottom: 3px;
}
.social{
	bottom: 1px;
	margin-right: 20px;
}

.align-center{
	text-align: center;
}
.align-ul{
	float: left;
	bottom: 30px;
	left: 420px;
	position: relative;
	font-size: 20px;
}
.align-name{
	float: left;
	position: absolute;
	bottom: -30px
	}

.coluna{
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}


/* STYLE */
.fundo, .fundo-2{
	background: no-repeat center center url("Fotos/bg_header.png");
	background-size: cover;
}
.fundo-2{
	background: no-repeat center center url("Fotos/bg_testimonial.png");
	background-size: cover;	
	padding: 100px 0;
}

.fundo-3{
	background: no-repeat center center url("Fotos/bg_footer.png");
	background-size: cover;
	padding: 100px 0;
}

.fundo-cinza{
	background: #252222;
}

.fundo-cinza2{
	background: #cdcdcd;
}

.fundo-cinza3{
	background: #bebebe;
	padding: 50px 0;
}
.fundo-vermelho{
	background: #e2534b;
}

.color{
	color: white;
}
.fundo-verde{
	background: #65ba99;
}
.galeria .col-md-6{
	padding: 0;
}
.galeria .col-md-3{
	padding: 0;
}


/* TIPOGRAFIA */
}
.text-center{
	text-align: center;
}
.align, .space{
	display: inline;
}
.space{
	margin-right: 20px;
}
.tam-1{
	font-size: 35px;
}
.tam-2{
	font-size: 20px;
}
/* FONTES */

.bebas{
	font-family: Bebas Neue;
}

.grande{
	font-size: 40px;
	color: white;
}

.medio{
	font-size: 25px;
	color: white;
}

.titulo{
	font-size: 40px;
	color:black;
	text-align: center;
}

.tag{
	background-color: #65ba99;
	border: 1px solid #65ba99;
	padding: 3px;
	text-align: center;
	width: 120px;
	color: white;
	font-size: 15px;
	margin: 2px 2px 2px 2px;

}

.borda{
	border-width: 4px;
	border-style: solid;
	border-color: white;
}

.fonte-verde{
	color: #65ba99;
}

.fonte-cinza{
	color: #252222;
}

.fonte-branca{
	color: white;
}

/* FUNCIONAL */
.funcional{
	padding: 15% 15%;
}
.display-center{
	display: center;
}
.funcional-2{
	left: 50px;
}

.fotos{
	padding-left: 40px;
	padding-right: 40px;
}
.funcional-3{
	float: left;
	position: relative;
	left: 270px;
	bottom: 0;
}
.div-cabecalho{
	float: left;
	position: relative;
	left: 300px;
}